main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 400px;
    flex-direction: column;
  
}

button {
    background-color: #1ee338;
    border-radius: 10px;
    padding: 5%;
    width: 250px;
    color: black;
    border: 1px solid black;
}

button:disabled {
    background-color: lightgray;
    color: gray;
    cursor: not-allowed;
    pointer-events: none;
}

button:active {
    background-color: #0b4f14;
}

